[submodule "Mindera-Travel-Agency"]
	path = Mindera-Travel-Agency
	url = git@github.com:TiagoASGomes/Mindera-Travel-Agency.git
[submodule "Flight_Database"]
	path = Flight_Database
	url = git@github.com:TiagoASGomes/Flight_Database.git
[submodule "Quarkus_Hotel_Project"]
	path = Quarkus_Hotel_Project
	url = git@github.com:jgmsv/Quarkus_Hotel_Project.git
